<div id="{{product.title}}--accordion-flush" data-accordion="open" data-active-classes="bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
    <h2 id="{{product.title}}--accordion-flush-heading-1">
       <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-base leading-none text-gray-800 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#{{product.title}}--accordion-flush-body-1" aria-expanded="true" aria-controls="{{product.title}}--accordion-flush-body-1">
          <span>Specifications</span>
          <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
             <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
       </button>
    </h2>
    <div id="{{product.title}}--accordion-flush-body-1" class="hidden" aria-labelledby="{{product.title}}--accordion-flush-heading-1">
       <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
             <thead class="hidden text-xs text-gray-900 uppercase dark:text-gray-400">
                <tr>
                   <th scope="col" class="px-6 py-3">
                      spec
                   </th>
                   <th scope="col" class="px-6 py-3">
                      value
                   </th>
                </tr>
             </thead>
             <tbody>
                <tr class="bg-gray-50 dark:bg-gray-800">
                   <th scope="row" class="px-6 py-4 text-xs text-gray-900 uppercase dark:text-gray-400">
                      Brand
                   </th>
                   <td class="px-6 py-4">
                      {{product.inventoryitemattribute_set.first.brand}}
                   </td>
                </tr>
                <tr class="bg-gray-50 dark:bg-gray-800">
                   <th scope="row" class="px-6 py-4 text-xs text-gray-900 uppercase dark:text-gray-400">
                      Category
                   </th>
                   <td class="px-6 py-4">
                      {{product.category}}
                   </td>
                </tr>
                <tr class="bg-gray-50 dark:bg-gray-800">
                   <th scope="row" class="px-6 py-4 text-xs text-gray-900 uppercase dark:text-gray-400">
                      Condition
                   </th>
                   <td class="px-6 py-4">
                      {{product.condition}}
                   </td>
                </tr>
                <tr class="bg-gray-50 dark:bg-gray-800">
                   <th scope="row" class="px-6 py-4 text-xs text-gray-900 uppercase dark:text-gray-400">
                      Colors
                   </th>
                   <td class="px-6 py-4">
                      {{product.inventoryitemattribute_set.first.color}}
                   </td>
                </tr>
                <tr class="bg-gray-50 dark:bg-gray-800">
                   <th scope="row" class="px-6 py-4 text-xs text-gray-900 uppercase dark:text-gray-400">
                      Dimensions
                   </th>
                   <td class="px-6 py-4">
                      {{product.inventoryitemattribute_set.first.size}}
                   </td>
                </tr>
             </tbody>
          </table>
       </div>
    </div>
    <h2 id="{{product.title}}--accordion-flush-heading-2">
       <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-base leading-none text-gray-800 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#{{product.title}}--accordion-flush-body-2" aria-expanded="false" aria-controls="{{product.title}}--accordion-flush-body-2">
          <span>Location Details</span>
          <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
             <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
       </button>
    </h2>
    <div id="{{product.title}}--accordion-flush-body-2" class="hidden" aria-labelledby="{{product.title}}--accordion-flush-heading-2">
       <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
             <thead class="hidden text-xs text-gray-900 uppercase dark:text-gray-400">
                <tr>
                   <th scope="col" class="px-6 py-3">
                      spec
                   </th>
                   <th scope="col" class="px-6 py-3">
                      value
                   </th>
                </tr>
             </thead>
             {% for listing in review %}
             <tbody>
                {% for pair in listing.swaptcampuspropertynamepair_set.all %}
                <tr class="bg-gray-50 dark:bg-gray-800">
                   <th scope="row" class="px-6 py-4 text-xs text-gray-900 uppercase dark:text-gray-400">
                      Campus
                   </th>
                   <td class="px-6 py-4">{{ pair.campus }}
                   </td>
                </tr>
                <tr class="bg-gray-50 dark:bg-gray-800">
                   <th scope="row" class="px-6 py-4 text-xs text-gray-900 uppercase dark:text-gray-400">
                      Property Name
                   </th>
                   <td class="px-6 py-4">{{ pair.propertyname }}
                   </td>
                </tr>
                {% endfor %}
             </tbody>
             {% endfor %}
          </table>
       </div>
    </div>
 </div>