{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container mx-auto sm:px-4 my-4 pt-24">
   <h3 class="">My Inventory Listings</h3>
      <!-- Featured Listings -->
   <div class="flex flex-wrap flex-col">
      <!-- ✅ Grid Section - Starts Here 👇 -->
      <section class="w-fit mx-auto grid grid-cols-1 xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">
        {% for product in review %}
         <div class="bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
            <div
               class="lg:max-w-[515px] w-full bg-gray-50 lg:px-10 md:px-6 px-4 py-12"
               >
               <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                  <div class="relative h-56 overflow-hidden rounded-lg md:h-96" >
                     <img id="zoom_01" 
                        data-zoom-image="/media/{{product.inventoryitemattribute_set.first.image}}" 
                        src="/media/{{product.inventoryitemattribute_set.first.image}}"
                        alt="{{product.title}}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                  </div>
               </div>
               <div class="pb-6">
                <div class="flex flex-row space-x-5" >
                    <p
                       class="lg:text-4xl md:text-3xl text-3xl font-semibold leading-9 text-gray-800 md:mt-6 mt-4"
                       >
                       {{product.title}}
                    </p>
                    <p class="lg:text-4xl md:text-3xl text-3xl font-semibold leading-9 text-gray-800 md:mt-6 mt-4">
                      <a href="{% url 'inventory_edit' product.id %}" class="text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900">
                          Edit
                      </a>
                  </p>
                  </div>
                  <p
                     class="text-2xl font-semibold leading-normal text-gray-800 md:mt-6 mt-4"
                     >
                     $<span class="product-price-{{product.id}}">{{product.inventoryitemattribute_set.first.price}}</span>
                  </p>
                  <p
                     class="text-base leading-normal text-gray-600 mt-4 lg:max-w-[415px] w-full"
                     >
                     {{product.detail}}
                  </p>
                  <ul role="list" class="space-y-5 my-7">
                     <li class="flex space-x-3">
                        <!-- Icon -->
                        <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-purple-600 dark:text-purple-500" fill="currentColor" viewBox="0 0 24 24"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                           class="flex-grow-0 flex-shrink-0 w-6 h-6 relative"
                           preserveAspectRatio="none"
                           >
                           <path
                              d="M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z"
                              fill="#957FEF"
                              ></path>
                        </svg>
                        <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400">{{product.selling_stage}}</span>
                     </li>
                  </ul>
               </div>
               <hr />
               {% include 'snippets/inventory_accordion.html' %}
            </div>
            <div class="mt-6 md:flex lg:max-w-[515px] w-full gap-4">
               <div>
                  <input type="hidden" type="number" value="1" class="form-control product-qty-{{data.id}}" id="productQty" />
                  <div class="input-group-append">
                     <input type="hidden" class="product-image-{{data.id}}" value="{{data.productattribute_set.first.image}}" />
                     <input type="hidden" class="product-id-{{data.id}}" value="{{data.id}}" />
                     <input type="hidden" class="product-title-{{data.id}}" value="{{data.title}}" />
                     <button class="text-base border border-gray-300 lg:max-w-[218px] w-full font-medium leading-none text-center text-gray-800 py-3 hover:bg-gray-50 transition duration-300 md:mt-0 mt-4 add-to-cart" data-index="{{data.id}}" type="button" id="addToCartBtn"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
      </section>
   </div>
</main>
<div class="pl-10 mb-4 border-b border-gray-200 dark:border-gray-700">
   <ul class="nav nav-tabs flex flex-wrap -mb-px text-sm font-medium text-center" id="nav-tab" data-tabs-toggle="#myTabContent" role="tablist">
      <li class="nav-item mr-2" role="presentation">
         <button class="nav-link active" id="nav-inventoryreview-tab" data-bs-toggle="tab" data-bs-target="#nav-inventoryreview" type="button" role="tab" aria-controls="nav-inventoryreview" aria-selected="true">Awaiting Review</button>
         <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Flowbite Profile</button>
      </li>
      <li class="nav-item mr-2" role="presentation">
         <button class="nav-link" id="nav-inventory-approved-tab" data-bs-toggle="tab" data-bs-target="#nav-inventoryapproved" type="button" role="tab" aria-controls="nav-inventoryapproved" aria-selected="false">Approved</button>
         <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Flowbite Dashboard</button>
      </li>
      <li class="nav-item mr-2" role="presentation">
         <button class="nav-link" id="nav-inventory-reported-tab" data-bs-toggle="tab" data-bs-target="#nav-inventoryreported" type="button" role="tab" aria-controls="nav-inventoryreported" aria-selected="false">Reported</button>
         <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Flowbite Settings</button>
      </li>
      <li role="nav-itempresentation">
         <button class="nav-link" id="nav-inventory-rejected-tab" data-bs-toggle="tab" data-bs-target="#nav-inventoryrejected" type="button" role="tab" aria-controls="nav-inventoryrejected" aria-selected="false">Rejected</button>
         <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Flowbite Contacts</button>
      </li>
   </ul>
</div>
<div class="z-10 bg-white rounded-lg shadow w-60 dark:bg-gray-700">
   <div class="form-check form-check-inline">
      <input class="form-check-input location filter" type="checkbox" id="ElonNC">
      <label class="form-check-label" for="ElonNC">
      Elon, NC
      </label>
   </div>
   <div class="form-check form-check-inline">
      <input class="form-check-input location filter" type="checkbox" id="BurlingtonNC">
      <label class="form-check-label" for="BurlingtonNC">
      Burlington, NC
      </label>
   </div>
</div>
<br></br>
<div class="z-10 bg-white rounded-lg shadow w-60 dark:bg-gray-700">
   <div class="form-check form-check-inline">
      <input class="form-check-input campus filter" type="checkbox" id="Elon">
      <label class="form-check-label" for="Elon">
      Elon
      </label>
   </div>
   <div class="form-check form-check-inline">
      <input class="form-check-input campus filter" type="checkbox" id="UMD">
      <label class="form-check-label" for="UMD">
      UMD
      </label>
   </div>
   <div class="form-check form-check-inline">
      <input class="form-check-input campus filter" type="checkbox" id="UNCG">
      <label class="form-check-label" for="UNCG">
      UNCG
      </label>
   </div>
   <div class="form-check form-check-inline">
      <input class="form-check-input propertyname filter" type="checkbox" id="Oaks">
      <label class="form-check-label" for="Oaks">
      Oaks
      </label>
   </div>
   <div class="form-check form-check-inline">
      <input class="form-check-input propertyname filter" type="checkbox" id="MillPoint">
      <label class="form-check-label" for="MillPoint">
      MillPoint
      </label>
   </div>
   <div class="form-check form-check-inline">
      <input class="form-check-input propertyname filter" type="checkbox" id="OakHill">
      <label class="form-check-label" for="OakHill">
      OakHill
      </label>
   </div>
</div>
<button class="btn btn-success apply-filter w-60 focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Filter</button>
<div class="tab-content" id="nav-tabContent">
   <div class="tab-pane fade show active" id="nav-inventoryreview" role="tabpanel" aria-labelledby="nav-inventoryreview-tab">
      <div class="row row-cols-1 row-cols-md-3 g-4">
         {% for listing in review %}
         <div class="col">
            <form action="" method="POST">
               {% csrf_token %}
               <div class="card" style="width: 18rem;">
                  <div class="card-body">
                     <h5 class="card-title">Awaiting Review</h5>
                     <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  </div>
                  <ul class="list-group list-group--flush">
                     <li class="list-group-item">Name: {{ listing.title }}</li>
                     <li class="list-group-item">Description: {{ listing.detail}}</li>
                     <li class="list-group-item card-location">Location: {{listing.location}}</li>
                     {% if listing.issue != None %}
                     <li class="list-group-item">Reported/rejected issue: {{ listing.issue }}</li>
                     {% endif %}
                     {% for pair in listing.inventorycampuspropertynamepair_set.all %}
                     <li class="list-group-item card-propertyname">Campus/propertyname pair {{ forloop.counter }}: {{ pair.campus }}/{{ pair.propertyname }}</li>
                     {% endfor %}
                  </ul>
                  <div class="card-body">
                     {% if user.is_admin %}
                     {% if listing.stage != 2 %}
                     <button type="submit" value="2" class="btn btn-success" name="status">Approve</button>
                     {% endif %}
                     {% if listing.stage == 1 %}
                     {% comment %} <button type="submit" value="3" class="btn btn-danger" name="status">Reject</button> {% endcomment %}
                     <a class="btn btn-danger" href="{% url 'inventory_reject' listing.id %}?next={% url 'inventory_review'%}#nav-inventoryreview-tab" role="button">Reject</a>
                     {% else %}
                     <button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button>
                     {% endif %}
                     <a class="btn btn-primary" href="{% url 'inventory_edit' listing.id %}?next={% url 'inventory_review'%}#nav-inventoryreview-tab" role="button">Edit</a>
                     {% elif listing.stage != 2 and user.is_swapt_user %}
                     <a class="btn btn-primary" href="{% url 'inventory_edit' listing.id %}?next={% url 'inventory_review'%}#nav-inventoryreview-tab" role="button">Edit</a>
                     <button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button>
                     {% endif %}
                     <input type="hidden" name="id" value={{ listing.id }}>
                  </div>
               </div>
            </form>
         </div>
         {% endfor %}
      </div>
   </div>
   <div class="tab-pane fade" id="nav-inventoryapproved" role="tabpanel" aria-labelledby="nav-inventory-approved-tab">
      <table id="inventory-approved-table" class="table table-bordered">
         <thead>
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Description</th>
               <th scope="col">Location</th>
               <th scope="col">Campus Level 1</th>
               <th scope="col">Propertyname Level 1</th>
               <th scope="col">Campus Level 2</th>
               <th scope="col">Propertyname Level 2</th>
               <th scope="col">Campus Level 3</th>
               <th scope="col">Propertyname Level 3</th>
               <th scope="col">Buttons</th>
            </tr>
         </thead>
      </table>
   </div>
   <div class="tab-pane fade" id="nav-inventoryreported" role="tabpanel" aria-labelledby="nav-
      inventory-reported-tab">
      <table id="inventory-reported-table" class="table table-bordered">
         <thead>
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Description</th>
               <th scope="col">Location</th>
               <th scope="col">Issue</th>
               <th scope="col">Campus Level 1</th>
               <th scope="col">Propertyname Level 1</th>
               <th scope="col">Campus Level 2</th>
               <th scope="col">Propertyname Level 2</th>
               <th scope="col">Campus Level 3</th>
               <th scope="col">Propertyname Level 3</th>
               <th scope="col">Buttons</th>
            </tr>
         </thead>
      </table>
   </div>
   <div class="tab-pane fade" id="nav-inventoryrejected" role="tabpanel" aria-labelledby="nav-inventory-rejected-tab">
      <table id="inventory-rejected-table" class="table table-bordered">
         <thead>
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Description</th>
               <th scope="col">Location</th>
               <th scope="col">Issue</th>
               <th scope="col">Campus Level 1</th>
               <th scope="col">Propertyname Level 1</th>
               <th scope="col">Campus Level 2</th>
               <th scope="col">Propertyname Level 2</th>
               <th scope="col">Campus Level 3</th>
               <th scope="col">Propertyname Level 3</th>
               <th scope="col">Buttons</th>
            </tr>
         </thead>
      </table>
   </div>
   {% if user.is_admin %}
   <div class="tab-pane fade" id="nav-inventory" role="tabpanel" aria-labelledby="nav-inventory-tab">
      <table id="inventory-table" class="table table-bordered">
         <thead>
            <tr>
               <th scope="col">Inventory</th>
            </tr>
         </thead>
      </table>
   </div>
   {% endif %}
</div>
<script>
   $(document).ready(function () {
   
       var filter = ""
       if (window.location.search.substring(1) != "") {
           filter = "&" + window.location.search.substring(1);
           var params = window.location.search.substring(1).split("&");
           for(let i = 0; i < params.length; i ++) {
               param = params[i];
               
               if(param.startsWith("location") || param.startsWith("propertyname") || param.startsWith("campus")) {
                   $("#" + param.split("=")[1]).prop("checked", true);
               } else if(param.startsWith("showNA")) {
                   stringBool = param.split("=")[1] == "true"
                   $("#na").prop("checked", stringBool);
               }
           }
       } else {
           $('input[type=checkbox]').each(function () {
               $(this).prop("checked", true);
           });
       }
   
       var approvedTable = $('#inventory-approved-table').DataTable({
           "serverSide": true,
           "processing": true,
           "autoWidth": false,
           "stateSave": true,
           "ajax": {
               "url": "/listings/api/inventory-review/?format=datatables&stage=2" + filter,
               "credentials": 'include',
           },
           "columns": [
               {"data": "title"},
               {"data": "desc"},
               {
                   "searchable": false,
                   "data": "location"
               },
               {
                   "searchable": false,
                   "data": 'inventorycampuspropertynamepair_set.0.campus'
               },
               {
                   "searchable": false,
                   "data": 'inventorycampuspropertynamepair_set.0.propertyname'
               },
               {
                   "searchable": false,
                   "defaultContent": "",
                   "data": 'inventorycampuspropertynamepair_set.1.campus',
               },
               {
                   "searchable": false,
                   "defaultContent": "",
                   "data": 'inventorycampuspropertynamepair_set.1.propertyname',
               },
               {
                   "searchable": false,
                   "defaultContent": "",
                   "data": 'inventorycampuspropertynamepair_set.2.campus',
               },
               {
                   "searchable": false,
                   "defaultContent": "",
                   "data": 'inventorycampuspropertynamepair_set.2.propertyname',
               },
               {
                   "searchable": false,
                   "data": null,
                   render:function(data, type, row) {
                       return '<div class="d-inline"> <form action="" method="POST"> {% csrf_token %} <button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button> <input type="hidden" class="card-id" name="id" value="' + data["id"] + '"> </form> </div> <div class="d-inline"> <a class="btn btn-primary" role="button">Edit</a> </div>';
                   },
                   "targets": -1,
               },
           ],
       });
    
       var column = approvedTable.column(10);
       column.visible({% if user.is_admin %} true {% else %} false {% endif %});
   
       $('#inventory-approved-table tbody').on('click', 'a', function () {
           var data = approvedTable.row( $(this).parents('tr') ).data();
           window.location.href = window.location.origin + "/listings/edit/" + data["id"] + "?next=/listings/inventory-review/#nav-inventory-approved-tab";
       } );
   
       var reportedTable = $('#inventory-reported-table').DataTable({
           "serverSide": true,
           "processing": true,
           "autoWidth": false,
           "stateSave": true,
           "ajax": {
               "url": "/listings/api/inventory-review/?format=datatables&stage=4" + filter,
               "credentials": 'include',
           },
           "columns": [
               {"data": "title"},
               {"data": "desc"},
               {
                   "searchable": false,
                   "data": "location"
               },
               {"data": "issue"},
               {
                   "searchable": false,
                   "data": 'inventorycampuspropertynamepair_set.0.campus',
               },
               {
                   "searchable": true,
                   "data": 'inventorycampuspropertynamepair_set.0.propertyname',
               },
               {
                   "searchable": false,
                   "defaultContent": "",
                   "data": 'inventorycampuspropertynamepair_set.1.campus',
               },
               {
                   "searchable": false,
                   "defaultContent": "",
                   "data": 'inventorycampuspropertynamepair_set.1.propertyname',
               },
               {
                   "searchable": false,
                   "defaultContent": "",
                   "data": 'inventorycampuspropertynamepair_set.2.campus',
               },
               {
                   "searchable": false,
                   "defaultContent": "",
                   "data": 'inventorycampuspropertynamepair_set.2.propertyname',
               },
               {
                   "data": null,
                   render:function(data, type, row) {
                       return '<div class="d-inline"> <form action="" method="POST"> {% csrf_token %} {% if user.is_admin %} <button type="submit" value="2" class="btn btn-success" name="status">Approve</button> {% endif %}<button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button> <input type="hidden" class="card-id" name="id" value="' + data["id"] + '"> </form> </div> <div class="d-inline"> <a class="btn btn-primary" role="button">Edit</a> </div>';
                   },
                   "targets": -1
               }
           ],
       });
   
       $('#inventory-reported-table tbody').on('click', 'a', function () {
           console.log("Test");
           var data = reportedTable.row( $(this).parents('tr') ).data();
           window.location.href = window.location.origin + "/listings/edit/" + data["id"] + "?next=/listings/inventory-review/#nav-inventory-reported-tab";
       } );
   
       var rejectedTable = $('#inventory-rejected-table').DataTable({
           "serverSide": true,
           "processing": true,
           "autoWidth": false,
           "stateSave": true,
           "ajax": {
               "url": "/listings/api/inventory-review/?format=datatables&stage=3" + filter,
               "credentials": 'include',
           },
           "columns": [
               {"data": "title"},
               {"data": "detail"},
               {
                   "searchable": false,
                   "data": "location"
               },
               {"data": "issue"},
               {
                   "searchable": false,
                   "data": 'inventorycampuspropertynamepair_set.0.campus'
               },
               {
                   "searchable": false,
                   "data": 'inventorycampuspropertynamepair_set.0.propertyname'
               },
               {
                   "searchable": false,
                   "defaultContent": "",
                   "data": 'inventorycampuspropertynamepair_set.1.campus',
               },
               {
                   "searchable": false,
                   "defaultContent": "",
                   "data": 'inventorycampuspropertynamepair_set.1.propertyname',
               },
               {
                   "searchable": false,
                   "defaultContent": "",
                   "data": 'inventorycampuspropertynamepair_set.2.campus',
               },
               {
                   "searchable": false,
                   "defaultContent": "",
                   "data": 'inventorycampuspropertynamepair_set.2.propertyname',
               },
               {
                   "data": null,
                   render:function(data, type, row) {
                       return '<div class="d-inline"> <form action="" method="POST"> {% csrf_token %} {% if user.is_admin %} <button type="submit" value="2" class="btn btn-success" name="status">Approve</button> {% endif %}<button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button> <input type="hidden" class="card-id" name="id" value="' + data["id"] + '"> </form> </div> <div class="d-inline"> <a class="btn btn-primary" role="button">Edit</a> </div>';
                   },
                   "targets": -1
               }
           ],
       });
   
       $('#inventory-rejected-table tbody').on('click', 'a', function () {
           var data = rejectedTable.row( $(this).parents('tr') ).data();
           window.location.href = window.location.origin + "/listings/edit/" + data["id"] + "?next=/listings/inventory-review/#nav-inventory-rejected-tab";
       } );
   
       var inventoryTable = $('#inventory-table').DataTable({
           "serverSide": true,
           "processing": true,
           "autoWidth": false,
           "stateSave": true,
           "ajax": {
               "url": "/listings/api/inventory-review/?format=datatables&stage=5",
               "credentials": 'include',
           },
           "columns": [
               {"data": "title"},
               {
                   "data": null,
                   render:function(data, type, row) {
                       return '<div class="d-inline"> <form action="" method="POST"> {% csrf_token %} {% if user.is_admin %} <button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button> <input type="hidden" class="card-id" name="id" value="' + data["id"] + '"> </form> </div> {% endif %}';
                   },
                   "targets": -1
               }
           ],
           
       });
   });
   
   
   $('.apply-filter').click(function (e){submit(e)});
   
   function submit(e){
       var locations = [];
       var propertynames = [];
       var campuses = [];
   
       $(".location").each(function () {
           if ($(this).is(":checked")) { locations.push($(this).attr('id').toString()); }
       });
   
       $(".propertyname").each(function () {
           if ($(this).is(":checked")) { propertynames.push($(this).attr('id').toString()); }
       });
   
       $(".campus").each(function () {
           if ($(this).is(":checked")) { campuses.push($(this).attr('id').toString()); }
       });
   
   
       var showNA = $('#na').is(":checked").toString();
   
       var href = "?location=";
       for(let i = 0; i < locations.length; i++) {
           if(i != 0) {
               href += "&location=" + locations[i];
           } else {
               href += locations[i];
           }
       }
       for(let i = 0; i < campuses.length; i++) {
           href += "&campus=" + campuses[i];
       }
       for(let i = 0; i < propertynames.length; i++) {
           href += "&propertyname=" + propertynames[i];
       }
       href += "&showNA=" + showNA;
       window.location.href = href + location.hash;
   }
   
   // store the currently selected tab in the hash value
   $("ul.nav-tabs > li > button").on("shown.bs.tab", function(e) {
     var id = $(e.target).attr("id");
     // localStorage.setItem('selectedTab', id);
     if(history.pushState) {
       history.pushState(null, null, "#" + id);
     } else {
       location.hash = "#" + id;
     }
     //window.location.hash = id;
   });
   
   // on load of the page: switch to the currently selected tab
   var hash = location.hash;
   
   var tabShowEl = document.querySelector(hash);
   var tabShow = new bootstrap.Tab(tabShowEl);
   tabShow.show();
   
</script>
{% endblock content%}