{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block content %} 
<div
   class="max-w-screen-xl m-0 sm:m-20 bg-white shadow sm:rounded-lg flex justify-center flex-1"
   >
   <div class="flex-1 bg-purple-900 text-center hidden lg:flex">
      <div
         class="m-6 xl:m-8 w-full bg-contain bg-center bg-no-repeat"
         style="background-image: url('/media/login.svg ');"
         ></div>
   </div>
   <div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
      <div>
         <img
            src="{% static 'media/swaptlogo.svg' %}"
            class="w-32 mx-auto"
            />
      </div>
      <div class="w-full bg-white rounded-lg dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
         <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h6 class="text-lg font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            </h6>
            <h6 class="text-lg font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
            </h6>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                Return to login? <a href="{% url 'accounts:login' %}" class="font-medium text-primary-color hover:underline dark:text-primary-color">here</a>
            </p>
         </div>
      </div>
   </div>
</div>
{% endblock content %}

