{% extends 'base.html' %}
{% load static %}
{% block  content  %}
<div
   class="max-w-screen-xl m-0 sm:m-20 bg-white shadow sm:rounded-lg flex justify-center flex-1"
   >
   <div class="flex-1 bg-purple-900 text-center hidden lg:flex">
      <div
         class="m-6 xl:m-8 w-full bg-contain bg-center bg-no-repeat"
         style="background-image: url('/media/login.svg ');"
         ></div>
   </div>
   <div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
      <div>
         <img
            src="{% static 'media/swaptlogo.svg' %}"
            class="w-32 mx-auto"
            />
      </div>
      <div class="w-full bg-white rounded-lg dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700" >
         <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
               Please select a sign up option 
            </h1>
            <div class="flex flex-col items-center justify-evenly">
               <div class="w-64 h-30 max-w-xs py-5 bg-white flex items-center justify-center">
                  <a href="{% url 'accounts:swaptuser_signup' %}">
                    <button class="text-center w-full h-20 max-w-xs font-bold shadow-sm rounded-lg py-3 bg-purple-100 text-gray-800 flex items-center justify-center transition-all duration-300 ease-in-out focus:outline-none hover:shadow focus:shadow-sm focus:shadow-outline">
                    <span class="ml-4">
                    Sign Up with a Student Account
                    </span>
                    </button>
                  </a>
               </div>
               <div class="w-64 h-30 max-w-xs py-5 bg-white flex items-center justify-center">
                  <a href="{% url 'accounts:propertymanager_signup' %}">
                  <button class="text-center w-full h-20 max-w-xs font-bold shadow-sm rounded-lg py-3 bg-purple-100 text-gray-800 flex items-center justify-center transition-all duration-300 ease-in-out focus:outline-none hover:shadow focus:shadow-sm focus:shadow-outline"><span class="ml-4">
                  Sign Up with a Property Manager Account
                  </span>
                </button>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}