{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %} 
<div
   class="max-w-screen-xl m-0 sm:m-20 bg-white shadow sm:rounded-lg flex justify-center flex-1"
   >
   <div class="flex-1 bg-login-bg text-center hidden lg:flex">
      <div
         class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat"
         style="background-image: url('/media/banner_imgs/swaptlogin.svg');"
         ></div>
   </div>
   <div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
      <div>
         <img
            src="/media/swaptlogo.svg"
            class="w-32 mx-auto"
            />
      </div>
      {% include 'accounts/signup.html' %}
      <div class="w-full bg-white rounded-lg dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700" id="myTabContent">
         <div class="hidden p-6 space-y-4 md:space-y-6 sm:p-8"  id="swapt-user" role="tabpanel" aria-labelledby="swapt-user-tab">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
               Create an account
            </h1>
            <form class="space-y-4 md:space-y-6" method="post">
               {% csrf_token %}
                 {% for field in form %}
                 <div>
                  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
                  <div class="bg-[#ebebeb] border border-[#ebebeb] text-[#807976] sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                     {%render_field field placeholder=field.label class+="w-full text-sm font-bold text-left text-[#807976] flex justify-start items-center relative overflow-hidden gap-2 bg-[#ebebeb] border-0 border-[#ebebeb]" %} </div>
               </div>
               {% if field.help_text %}
               <small style="display: none">{{ field.help_text }}</small>
               {% endif %}
               {% for error in field.errors %}
                <div>
                  <label for="error" class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">{{ error }}</label>
                  <div  id="error" class="bg-[#ebebeb] border border-[#ebebeb] text-[#807976] sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                     {%render_field field placeholder=field.label class+="w-full text-sm font-bold text-left text-[#807976] flex justify-start items-center relative overflow-hidden gap-2 bg-[#ebebeb] border-0 border-[#ebebeb]" %} </div>
               </div>
             {% endfor %}
               {% endfor %}
               <div class="flex items-start">
                  <div class="flex items-center h-5">
                     <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-color dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required="">
                  </div>
                  <div class="ml-3 text-sm">
                     <label for="terms" class="font-light text-gray-500 dark:text-gray-300">I accept the <a class="font-medium text-primary-color hover:underline dark:text-primary-500" href="#">Terms and Conditions</a></label>
                  </div>
               </div>
               <button type="submit" class="w-full max-w-xs font-bold shadow-sm rounded-lg py-3 bg-button-primary-color text-white flex items-center justify-center transition-all duration-300 ease-in-out focus:outline-none hover:shadow focus:shadow-sm focus:shadow-outline">Sign up</button>
               <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                  Already have an account? <a href="#" class="font-medium text-primary-color hover:underline dark:text-primary-color">Login here</a>
               </p>
           </form>
         </div>
         <div class="hidden p-6 space-y-4 md:space-y-6 sm:p-8"   id="prop-manager" role="tabpanel" aria-labelledby="prop-manager-tab">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
               Create an account
            </h1>
            <form class="space-y-4 md:space-y-6" method="post">
               {% csrf_token %}
                 {% for field in form %}
                 <div>
                  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
                  <div class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">{{ field }} </div>
               </div>
               {% endfor %}
               <div class="flex items-start">
                  <div class="flex items-center h-5">
                     <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-color dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required="">
                  </div>
                  <div class="ml-3 text-sm">
                     <label for="terms" class="font-light text-gray-500 dark:text-gray-300">I accept the <a class="font-medium text-primary-color hover:underline dark:text-primary-500" href="#">Terms and Conditions</a></label>
                  </div>
               </div>
               <button type="submit" class="w-full max-w-xs font-bold shadow-sm rounded-lg py-3 bg-button-primary-color text-white flex items-center justify-center transition-all duration-300 ease-in-out focus:outline-none hover:shadow focus:shadow-sm focus:shadow-outline">Sign up</button>
               <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                  Already have an account? <a href="#" class="font-medium text-primary-color hover:underline dark:text-primary-color">Login here</a>
               </p>
           </form>
         </div>
      </div>
   </div>
</div>
{% endblock content %}