{% extends "base.html" %}

{% block  content  %}
<div class="mb-4 border-b border-gray-200 dark:border-gray-700 ">
    <ul class="flex flex-wrap justify-center -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
        <li class="mr-2" role="presentation">
            <a href="{% url 'accounts:swaptuser_signup' %}"><button class="inline-block p-4 border-b-2 rounded-t-lg" id="swapt-user-tab" data-tabs-target="#swapt-user" type="button" role="tab" aria-controls="swapt-user" aria-selected="false">Student</button></a>
        </li>
        <li class="mr-2" role="presentation">
            <a href="{% url 'accounts:propertymanager_signup' %}"><button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="prop-manager-tab" data-tabs-target="#prop-manager" type="button" role="tab" aria-controls="prop-manager" aria-selected="false">Property Manager</button></a>
        </li>
    </ul>
</div>
{% endblock content %}