{% extends 'base.html' %}
{% block content %}
<div class="flex flex-row">
   {% include 'snippets/create_swapt_stepper.html' %}
   <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <form method="POST">  
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">  
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
               <th scope="col" class="px-6 py-3">
                  <div class="flex items-center">
                     <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                     <label for="checkbox-all-search" class="sr-only">checkbox</label>
                  </div>
               </th>
               <th scope="col" class="px-6 py-3">
                  <span class="sr-only">Image</span>
               </th>
               <th scope="col" class="px-6 py-3">
                  Furniture Item
               </th>
               <th scope="col" class="px-6 py-3">
                  Price
               </th>
               <th scope="col" class="px-6 py-3">
                  Action
               </th>
            </tr>
         </thead>
         <tbody>
            {% csrf_token %}
            {% for product in InventoryFurnitureItems %}    
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
               <td class="w-4 p-4">
                  <div class="flex items-center">
                     <input id="checkbox-table-search-1" name="listings[]" value="{{ product.pk }}" type="checkbox" class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                     <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                  </div>
               </td>
               <td class="w-32 p-4">
                  <img src="/media/{{product.inventoryitemattribute_set.first.image}}" alt={{product.title}}>
               </td>
               <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                  {{ product.title }}
               </td>
               <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                  ${{product.inventoryitemattribute_set.first.price}}
               </td>
               <td class="px-6 py-4">
                  <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline">Remove</a>
               </td>
            </tr>
            {% endfor %} 
         </tbody>
      </table>
      <h3 class="mb-4 text-lg font-medium leading-none text-gray-900 dark:text-white">Listing details</h3>
    <div class="grid gap-4 mb-4 sm:grid-cols-2">
      {{ form.as_p }}  
        <div>
            <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
            <input type="text" name="title" id="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Amazing Listing in Elon, NC" required="">
        </div>
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Next Step: Add Photos
    </button>
    </form>  
   </div>
</div>
{% endblock content %}