{% extends "base.html" %}
{% block content%}
<ul class="nav nav-tabs" id="nav-tab" role="tablist">
   <li class="nav-item" role="presentation">
      <button class="nav-link active" id="nav-swaptreview-tab" data-bs-toggle="tab" data-bs-target="#nav-swaptreview" type="button" role="tab" aria-controls="nav-swaptreview" aria-selected="true">Awaiting Review</button>
   </li>
   <li class="nav-item" role="presentation">
      <button class="nav-link" id="nav-swaptswapt-approved-tab" data-bs-toggle="tab" data-bs-target="#nav-swaptapproved" type="button" role="tab" aria-controls="nav-swaptapproved" aria-selected="false">Approved</button>
   </li>
   <li class="nav-item" role="presentation">
      <button class="nav-link" id="nav-swaptswapt-reported-tab" data-bs-toggle="tab" data-bs-target="#nav-swaptreported" type="button" role="tab" aria-controls="nav-swaptreported" aria-selected="false">Reported</button>
   </li>
   <li class="nav-item" role="presentation">
      <button class="nav-link" id="nav-swaptswapt-rejected-tab" data-bs-toggle="tab" data-bs-target="#nav-swaptrejected" type="button" role="tab" aria-controls="nav-swaptrejected" aria-selected="false">Rejected</button>
   </li>
</ul>
<div class="form-check form-check-inline">
   <input class="form-check-input location filter" type="checkbox" id="ElonNC">
   <label class="form-check-label" for="ElonNC">
   ElonNC
   </label>
</div>
<div class="form-check form-check-inline">
   <input class="form-check-input location filter" type="checkbox" id="CollegeParkMD">
   <label class="form-check-label" for="CollegeParkMD">
   CollegeParkMD
   </label>
</div>
<div class="form-check form-check-inline">
   <input class="form-check-input location filter" type="checkbox" id="BurlingtonNC">
   <label class="form-check-label" for="BurlingtonNC">
   BurlingtonNC
   </label>
</div>
<div class="form-check form-check-inline">
   <input class="form-check-input location filter" type="checkbox" id="ColumbiaMD">
   <label class="form-check-label" for="ColumbiaMD">
   ColumbiaMD
   </label>
</div>
<br></br>
<div class="form-check form-check-inline">
   <input class="form-check-input campus filter" type="checkbox" id="Elon">
   <label class="form-check-label" for="Elon">
   Elon
   </label>
</div>
<div class="form-check form-check-inline">
   <input class="form-check-input campus filter" type="checkbox" id="UMD">
   <label class="form-check-label" for="UMD">
   UMD
   </label>
</div>
<div class="form-check form-check-inline">
   <input class="form-check-input campus filter" type="checkbox" id="UNCG">
   <label class="form-check-label" for="UNCG">
   UNCG
   </label>
</div>
<div class="form-check form-check-inline">
   <input class="form-check-input propertyname filter" type="checkbox" id="Oaks">
   <label class="form-check-label" for="Oaks">
   Oaks
   </label>
</div>
<div class="form-check form-check-inline">
   <input class="form-check-input propertyname filter" type="checkbox" id="MillPoint">
   <label class="form-check-label" for="MillPoint">
   MillPoint
   </label>
</div>
<div class="form-check form-check-inline">
   <input class="form-check-input propertyname filter" type="checkbox" id="OakHill">
   <label class="form-check-label" for="OakHill">
   OakHill
   </label>
</div>
<button class="btn btn-success apply-filter">Filter</button>
<div class="tab-content" id="nav-tabContent">
   <div class="tab-pane fade show active" id="nav-swaptreview" role="tabpanel" aria-labelledby="nav-swaptreview-tab">
      <div class="row row-cols-1 row-cols-md-3 g-4">
         {% for listing in swaptreview %}
         <div class="col">
            <form action="" method="POST">
               {% csrf_token %}
               <div class="card" style="width: 18rem;">
                  <div class="card-body">
                     <h5 class="card-title">Awaiting Review</h5>
                     <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  </div>
                  <ul class="list-group list-group-flush">
                     <li class="list-group-item">Name: {{ listing.title }}</li>
                     <li class="list-group-item">Description: {{ listing.desc }}</li>
                     <li class="list-group-item card-location">Location: {{listing.location}}</li>
                     {% if listing.issue != None %}
                     <li class="list-group-item">Reported/rejected issue: {{ listing.issue }}</li>
                     {% endif %}
                  </ul>
                  <div class="card-body">
                     {% if user.is_admin %}
                     {% if listing.stage != 2 %}
                     <button type="submit" value="2" class="btn btn-success" name="status">Approve</button>
                     {% endif %}
                     {% if listing.stage == 1 %}
                     {% comment %} <button type="submit" value="3" class="btn btn-danger" name="status">Reject</button> {% endcomment %}
                     <a class="btn btn-danger" href="{% url 'swapt_reject' listing.id %}?next={% url 'swapt_review'%}#nav-swaptreview-tab" role="button">Reject</a>
                     {% else %}
                     <button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button>
                     {% endif %}
                     <a class="btn btn-primary" href="{% url 'swapt_edit' listing.id %}?next={% url 'swapt_review'%}#nav-swaptreview-tab" role="button">Edit</a>
                     {% elif listing.stage != 2 and user.is_swapt_user %}
                     <a class="btn btn-primary" href="{% url 'swapt_edit' listing.id %}?next={% url 'swapt_review'%}#nav-swaptreview-tab" role="button">Edit</a>
                     <button type="submit" value="delete" class="btn btn-danger" name="status">Delete</button>
                     {% endif %}
                     <input type="hidden" name="id" value={{ listing.id }}>
                  </div>
               </div>
            </form>
         </div>
         {% endfor %}
      </div>
   </div>
   <div class="tab-pane fade" id="nav-swaptapproved" role="tabpanel" aria-labelledby="nav-swaptswapt-approved-tab">
      <table id="swapt-approved-table" class="table table-bordered">
         <thead>
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Description</th>
               <th scope="col">Location</th>
               <th scope="col">Campus Level 1</th>
               <th scope="col">Propertyname Level 1</th>
               <th scope="col">Campus Level 2</th>
               <th scope="col">Propertyname Level 2</th>
               <th scope="col">Campus Level 3</th>
               <th scope="col">Propertyname Level 3</th>
               <th scope="col">Buttons</th>
            </tr>
         </thead>
      </table>
   </div>
   <div class="tab-pane fade" id="nav-swaptreported" role="tabpanel" aria-labelledby="nav-swaptswapt-reported-tab">
      <table id="swapt-reported-table" class="table table-bordered">
         <thead>
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Description</th>
               <th scope="col">Location</th>
               <th scope="col">Issue</th>
               <th scope="col">Campus Level 1</th>
               <th scope="col">Propertyname Level 1</th>
               <th scope="col">Campus Level 2</th>
               <th scope="col">Propertyname Level 2</th>
               <th scope="col">Campus Level 3</th>
               <th scope="col">Propertyname Level 3</th>
               <th scope="col">Buttons</th>
            </tr>
         </thead>
      </table>
   </div>
   <div class="tab-pane fade" id="nav-swaptrejected" role="tabpanel" aria-labelledby="nav-swaptswapt-rejected-tab">
      <table id="swapt-rejected-table" class="table table-bordered">
         <thead>
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Description</th>
               <th scope="col">Location</th>
               <th scope="col">Issue</th>
               <th scope="col">Campus Level 1</th>
               <th scope="col">Propertyname Level 1</th>
               <th scope="col">Campus Level 2</th>
               <th scope="col">Propertyname Level 2</th>
               <th scope="col">Campus Level 3</th>
               <th scope="col">Propertyname Level 3</th>
               <th scope="col">Buttons</th>
            </tr>
         </thead>
      </table>
   </div>
   {% if user.is_admin %}
   <div class="tab-pane fade" id="nav-swapt" role="tabpanel" aria-labelledby="nav-swapt-tab">
      <table id="swapt-table" class="table table-bordered">
         <thead>
            <tr>
               <th scope="col">swapt</th>
            </tr>
         </thead>
      </table>
   </div>
   {% endif %}
</div>
{% endblock content%}