{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container mx-auto sm:px-4 my-4" id="cartList">
   <!-- Featured Products -->
   <h3 class="my-4 border-b pb-1">Cart ({{totalitems}})</h3>
   <table class="w-full max-w-full mb-4 bg-transparent table-bordered">
      <thead>
         <tr>
            <th>InventoryListing</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
         </tr>
      </thead>
      <tbody>
         {% for product_id,item in cart_data.items %}
         <tr>
            <td>
               <img src="/media/{{item.image}}" width="50" />
               <p><a href="/product/{{item.title|slugify}}/{{product_id}}">{{item.title}}</a></p>
            </td>
            <td>
               <input type="number" class="product-qty-{{product_id}}" value="{{item.qty}}" style="vertical-align: bottom;" />
               <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs  bg-blue-600 text-white hover:bg-blue-600 update-item" data-item="{{product_id}}"><i class="fa fa-sync"></i></button>
               <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs  bg-red-600 text-white hover:bg-red-700 delete-item" data-item="{{product_id}}"><i class="fa fa-trash"></i></button>
            </td>
            <td>$ {{item.price}}</td>
            <td>$ {% widthratio item.price 1 item.qty %}</td>
         </tr>
         {% endfor %}
      </tbody>
      <tfoot>
         <tr>
            <td colspan="2"></td>
            <th>Total</th>
            <th>Rs. {{total_amt}}</th>
         </tr>
         {% if totalitems %}
         <tr>
            <td colspan="4" align="right">
               <a href="{% url 'checkout' %}" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline bg-gray-900 text-white hover:bg-gray-900 py-1 px-2 leading-tight text-xs ">Checkout <i class="fa fa-long-arrow-alt-right"></i></a>
            </td>
         </tr>
         {% endif %}
      </tfoot>
   </table>
</main>
{% endblock %}