{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container mx-auto sm:px-4 my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-b pb-1">My Dashboard</h3>
	<div class="flex flex-wrap ">
		<div class="md:w-1/4 pr-4 pl-4">
			{% include 'user/user-sidebar.html' %}
		</div>
		<div class="md:w-3/4 pr-4 pl-4">
			<div>
			  <canvas id="myChart"></canvas>
			</div>
		</div>
	</div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
	const labels = {{monthNumber|safe}};
	const data = {
	  labels: labels,
	  datasets: [{
	    label: 'Orders By Month',
	    backgroundColor: 'rgb(255, 99, 132)',
	    borderColor: 'rgb(255, 99, 132)',
	    data: {{totalOrders}},
	  }]
	};

	const config = {
	  type: 'bar',
	  data,
	  options: {}
	};

	var myChart = new Chart(
	    document.getElementById('myChart'),
	    config
  	);

</script>

{% endblock %}