{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container mx-auto sm:px-4 my-4">
   <!-- Featured Products -->
   <h3 class="my-4 border-b pb-1">Order Items</h3>
   <div class="flex flex-wrap ">
      <div class="md:w-1/4 pr-4 pl-4">
         {% include 'user/user-sidebar.html' %}
      </div>
      <div class="md:w-3/4 pr-4 pl-4">
         <div class="block w-full overflow-auto scrolling-touch">
            <table class="table-bordered w-full max-w-full mb-4 bg-transparent">
               <thead>
                  <tr>
                     <th>Inv no</th>
                     <th>Item</th>
                     <th>Qty</th>
                     <th>Price</th>
                     <th>Total</th>
                  </tr>
               </thead>
               <tbody>
                  {% for item in orderitems %}
                  <tr>
                     <td>{{item.invoice_no}}</td>
                     <td>
                        <p><img src="/media/{{item.image}}" width="80" /></p>
                        {{item.item}}
                     </td>
                     <td>{{item.qty}}</td>
                     <td>{{item.price}}</td>
                     <td>{{item.total}}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
</main>
{% endblock %}