{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container mx-auto sm:px-4 my-4">
   <!-- Featured Products -->
   <h3 class="my-4 border-b pb-1">My Orders</h3>
   <div class="flex flex-wrap ">
      <div class="md:w-1/4 pr-4 pl-4">
         {% include 'user/user-sidebar.html' %}
      </div>
      <div class="md:w-3/4 pr-4 pl-4">
         <div class="block w-full overflow-auto scrolling-touch">
            <table class="table-bordered w-full max-w-full mb-4 bg-transparent">
               <thead>
                  <tr>
                     <th>OrderNo</th>
                     <th>Total Amt</th>
                     <th>Status</th>
                     <th>Order Time</th>
                  </tr>
               </thead>
               <tbody>
                  {% for order in orders %}
                  <tr>
                     <td><a href="{% url 'my_order_items' order.id %}" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs  bg-gray-900 text-white hover:bg-gray-900">{{order.id}}</a></td>
                     <td>{{order.total_amt}}</td>
                     <td>{{order.paid_status}}</td>
                     <td>{{order.order_dt}}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
</main>
{% endblock %}