{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container mx-auto sm:px-4 my-4">
   <!-- Featured Products -->
   <h3 class="my-4 border-b pb-1">Reviews Items</h3>
   <div class="flex flex-wrap ">
      <div class="md:w-1/4 pr-4 pl-4">
         {% include 'user/user-sidebar.html' %}
      </div>
      <div class="md:w-3/4 pr-4 pl-4">
         <div class="block w-full overflow-auto scrolling-touch">
            <table class="table-bordered w-full max-w-full mb-4 bg-transparent">
               <thead>
                  <tr>
                     <th>Title</th>
                     <th>Image</th>
                     <th>Price</th>
                     <th>ReviewText</th>
                     <th>ReviewRating</th>
                  </tr>
               </thead>
               <tbody>
                  {% for review in reviews %}
                  <tr>
                     <td><a href="/product/{{review.product.slug}}/{{review.product.id}}">{{review.product.title}}</a></td>
                     <td>
                        <img width="100" src="/media/{{review.product.productattribute_set.first.image}}" alt="{{review.product.title}}">
                     </td>
                     <td>{{review.product.productattribute_set.first.price}}</td>
                     <td>{{review.review_text}}</td>
                     <td>{{review.review_rating}}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
</main>
{% endblock %}