{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container mx-auto sm:px-4 my-4">
   <h3 class="">Brands</h3>
   <div class="flex flex-wrap ">
      <!-- ✅ Grid Section - Starts Here 👇 -->
      <section class="w-fit mx-auto grid grid-cols-1 xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5" id="filteredProducts">
         {% if data %}
         {% for brand in data %}
         <!--   ✅ Product card 1 - Starts Here 👇 -->
         <div class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
            <a href="/brand-product-list/{{brand.id}}">
               <img src="/media/{{brand.image}}" alt="{{brand.title}}" class="h-80 w-72 object-cover rounded-t-xl" />
               <div class="px-4 py-3 w-72">
                  <p class="text-lg font-bold text-black truncate block capitalize">
                     <a href="/brand-product-list/{{brand.id}}">{{brand.title}}</a>
                  </p>
            </div>
            </a>
         </div>
         {% endfor %}
         {% endif %}
      </section>
      <!-- 🛑 Grid Section - Ends Here -->
   </div>
</main>
{% endblock %}