{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Home Slider -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
   <ol class="carousel-indicators">
      {% for banner in banners %}
      {% if forloop.counter == 1 %}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter}}" class="active"></li>
      {% else %}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter}}"></li>
      {% endif %}
      {% endfor %}
   </ol>
   <div class="carousel-inner">
      {% for banner in banners %}
      {% if forloop.counter == 1 %}
      <div class="carousel-item active">
         {% else %}
         <div class="carousel-item">
            {% endif %}
            <img src="/media/{{banner.img}}" class="block w-full" alt="...">
         </div>
         {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a>
   </div>
</div>
<main class="container mx-auto sm:px-4 my-4">
   <!-- Featured Products -->
   <h3 class="my-4 border-b pb-1">Featured Products</h3>
   <div class="flex flex-wrap ">
      {% for product in data %}
      <div class="md:w-1/4 pr-4 pl-4 mb-4">
         <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300 shadow">
            <a href="/product/{{product.slug}}/{{product.id}}"><img src="/media/{{product.productattribute_set.first.image}}" class="w-full rounded rounded-t" alt="{{product.title}}"></a>
            <div class="flex-auto p-6">
               <h5 class="mb-0"><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a></h5>
               <h6>$ <span class="product-price-{{product.id}}">{{product.productattribute_set.first.price}}</span></h6>
            </div>
            <div class="py-3 px-6 bg-gray-200 border-t-1 border-gray-300">
               {{product.productattribute_set.first.color.title}}
               <input type="hidden" value="1" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded product-qty-{{product.id}}" id="productQty" />
               <input type="hidden" class="product-image-{{product.id}}" value="{{product.productattribute_set.first.image}}" />
               <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
               <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
               <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs  bg-blue-600 text-white hover:bg-blue-600 add-to-cart" data-index="{{product.id}}"><i class="fa fa-shopping-cart"></i></button>
               {% if user.is_swapt_user %}
               <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs  bg-red-600 text-white hover:bg-red-700 add-wishlist" data-product="{{product.id}}"><i class="fa fa-heart"></i></button>
               {% else %}
               <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs  bg-red-600 text-white hover:bg-red-700 opacity-75"><i class="fa fa-heart"></i></button>
               {% endif %}
               <span class="float-right">
               4.5/5
               <i class="fa fa-star text-yellow-500"></i>
               </span>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
   <p class="my-4 text-center"><a href="{% url 'product-list' %}" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline bg-gray-900 text-white hover:bg-gray-900 py-1 px-2 leading-tight text-xs ">All Products <i class="fa fa-long-arrow-alt-right"></i></a></p>
</main>
{% endblock %}