<!-- Individual items in swapt listing-->
<!-- ✅ Grid Section - Starts Here 👇 -->
<section class="w-fit mx-auto grid grid-cols-1 xl:grid-cols-2 lg:grid-cols-2 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">
    {% for product in related %}
    <div class="bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
       <div
          class="lg:max-w-[515px] w-full bg-gray-50 lg:px-10 md:px-6 px-4 py-12"
          >
          <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
             <div class="relative h-56 overflow-hidden rounded-lg md:h-96" >
                <img id="zoom_01" 
                   data-zoom-image="/media/{{product.inventoryitemattribute_set.first.image}}" 
                   src="/media/{{product.inventoryitemattribute_set.first.image}}"
                   alt="{{product.title}}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
             </div>
          </div>
          <div class="pb-6">
             <p
                class="lg:text-4xl md:text-3xl text-3xl font-semibold leading-9 text-gray-800 md:mt-6 mt-4"
                >
                {{product.title}}
             </p>
             <p
                class="text-2xl font-semibold leading-normal text-gray-800 md:mt-6 mt-4"
                >
                $<span class="product-price-{{product.id}}">{{product.inventoryitemattribute_set.first.price}}</span>
             </p>
             <p
                class="text-base leading-normal text-gray-600 mt-4 lg:max-w-[415px] w-full"
                >
                {{product.detail}}
             </p>
             <ul role="list" class="space-y-5 my-7">
                <li class="flex space-x-3">
                   <!-- Icon -->
                   <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-purple-600 dark:text-purple-500" fill="currentColor" viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="flex-grow-0 flex-shrink-0 w-6 h-6 relative"
                      preserveAspectRatio="none"
                      >
                      <path
                         d="M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z"
                         fill="#957FEF"
                         ></path>
                   </svg>
                   <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400">{{product.selling_stage}}</span>
                </li>
             </ul>
          </div>
          <hr />
          <div id="{{product.title}}--accordion-flush" data-accordion="open" data-active-classes="bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
             <h2 id="{{product.title}}--accordion-flush-heading-1">
                <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-base leading-none text-gray-800 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#{{product.title}}--accordion-flush-body-1" aria-expanded="true" aria-controls="{{product.title}}--accordion-flush-body-1">
                   <span>Specifications</span>
                   <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                   </svg>
                </button>
             </h2>
             <div id="{{product.title}}--accordion-flush-body-1" class="hidden" aria-labelledby="{{product.title}}--accordion-flush-heading-1">
                <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                   <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                      <thead class="hidden text-xs text-gray-900 uppercase dark:text-gray-400">
                         <tr>
                            <th scope="col" class="px-6 py-3">
                               spec
                            </th>
                            <th scope="col" class="px-6 py-3">
                               value
                            </th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr class="bg-gray-50 dark:bg-gray-800">
                            <th scope="row" class="px-6 py-4 text-xs text-gray-900 uppercase dark:text-gray-400">
                               Brand
                            </th>
                            <td class="px-6 py-4">
                               {{product.inventoryitemattribute_set.first.brand}}
                            </td>
                         </tr>
                         <tr class="bg-gray-50 dark:bg-gray-800">
                            <th scope="row" class="px-6 py-4 text-xs text-gray-900 uppercase dark:text-gray-400">
                               Category
                            </th>
                            <td class="px-6 py-4">
                               {{product.category}}
                            </td>
                         </tr>
                         <tr class="bg-gray-50 dark:bg-gray-800">
                            <th scope="row" class="px-6 py-4 text-xs text-gray-900 uppercase dark:text-gray-400">
                               Condition
                            </th>
                            <td class="px-6 py-4">
                               {{product.condition}}
                            </td>
                         </tr>
                         <tr class="bg-gray-50 dark:bg-gray-800">
                            <th scope="row" class="px-6 py-4 text-xs text-gray-900 uppercase dark:text-gray-400">
                               Colors
                            </th>
                            <td class="px-6 py-4">
                               {{product.inventoryitemattribute_set.first.color}}
                            </td>
                         </tr>
                         <tr class="bg-gray-50 dark:bg-gray-800">
                            <th scope="row" class="px-6 py-4 text-xs text-gray-900 uppercase dark:text-gray-400">
                               Dimensions
                            </th>
                            <td class="px-6 py-4">
                               {{product.inventoryitemattribute_set.first.size}}
                            </td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
             <h2 id="{{product.title}}--accordion-flush-heading-2">
                <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-base leading-none text-gray-800 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#{{product.title}}--accordion-flush-body-2" aria-expanded="false" aria-controls="{{product.title}}--accordion-flush-body-2">
                   <span>Location Details</span>
                   <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                   </svg>
                </button>
             </h2>
             <div id="{{product.title}}--accordion-flush-body-2" class="hidden" aria-labelledby="{{product.title}}--accordion-flush-heading-2">
                <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                   <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                      <thead class="hidden text-xs text-gray-900 uppercase dark:text-gray-400">
                         <tr>
                            <th scope="col" class="px-6 py-3">
                               spec
                            </th>
                            <th scope="col" class="px-6 py-3">
                               value
                            </th>
                         </tr>
                      </thead>
                      {% for listing in review %}
                      <tbody>
                         {% for pair in listing.swaptcampuspropertynamepair_set.all %}
                         <tr class="bg-gray-50 dark:bg-gray-800">
                            <th scope="row" class="px-6 py-4 text-xs text-gray-900 uppercase dark:text-gray-400">
                               Campus
                            </th>
                            <td class="px-6 py-4">{{ pair.campus }}
                            </td>
                         </tr>
                         <tr class="bg-gray-50 dark:bg-gray-800">
                            <th scope="row" class="px-6 py-4 text-xs text-gray-900 uppercase dark:text-gray-400">
                               Property Name
                            </th>
                            <td class="px-6 py-4">{{ pair.propertyname }}
                            </td>
                         </tr>
                         {% endfor %}
                      </tbody>
                      {% endfor %}
                   </table>
                </div>
             </div>
          </div>
       </div>
       <div class="mt-6 md:flex lg:max-w-[515px] w-full gap-4">
          <button
             class="bg-gray-800 text-white lg:max-w-[217px] w-full py-2 hover:bg-gray-700 transition duration-300 md:block hidden"
             >
          Make An Offer
          </button>
          <button
             class="bg-gray-800 text-white lg:max-w-[217px] w-full py-2 hover:bg-gray-700 transition duration-300 md:hidden block"
             >
          Make An Offer
          </button>
          <div>
             <input type="number" value="1" class="form-control product-qty-{{data.id}}" id="productQty" />
             <div class="input-group-append">
                <input type="hidden" class="product-image-{{data.id}}" value="{{data.productattribute_set.first.image}}" />
                <input type="hidden" class="product-id-{{data.id}}" value="{{data.id}}" />
                <input type="hidden" class="product-title-{{data.id}}" value="{{data.title}}" />
                <button class="text-base border border-gray-300 lg:max-w-[218px] w-full font-medium leading-none text-center text-gray-800 py-3 hover:bg-gray-50 transition duration-300 md:mt-0 mt-4 add-to-cart" data-index="{{data.id}}" type="button" id="addToCartBtn"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
             </div>
          </div>
       </div>
    </div>
    {% endfor %}
 </section>