{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container mx-auto sm:px-4 my-4">
   <div class="flex flex-wrap ">
      <!-- Filters -->
      <div class="md:w-1/4 pr-4 pl-4">
         {% include 'filters.html' %}
      </div>
      <div class="md:w-3/4 pr-4 pl-4">
         <!-- Products -->
         <h3 class="mb-4 border-b pb-1">
            Swapt Listings
         </h3>
         <div class="flex flex-wrap " id="filteredProducts">
            <p class="ajaxLoader">Loading...</p>
            {% for product in data %}
            <!--entire div for all cards-->
            <div class="lg:w-1/3 pr-4 pl-4 md:w-1/2 pr-4 pl-4 mb-4 product-box">
               <!--entire div for 1 card out of all cards-->
               <div class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2">
                  <!--^^ relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300 shadow-->
                  <!--div for image and icons-->  
                  <div class="flex-grow-0 flex-shrink-0 w-[290px] h-[290px] relative overflow-hidden rounded-2xl bg-cover bg-no-repeat bg-center"
                     >
                     <!--image div-->
                     <div class="w-[435px] h-[290px] absolute left-[-73px] top-0 overflow-hidden">
                        <a href="/product/{{product.slug}}/{{product.id}}">
                        <img src="/media/{{product.productattribute_set.first.image}}" 
                           class="w-[435px] h-[290px] absolute left-[-1px] top-[-1px] object-cover" 
                           alt="{{product.title}}"></a>
                     </div>
                     <!--heart button div div-->
                     <div class="flex justify-start items-start absolute left-[234px] top-4">
                        <button type="button" class="text-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">
                           <svg
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="currentColor"
                              xmlns="http://www.w3.org/2000/svg"
                              class="w-5 h-5"
                              preserveAspectRatio="xMidYMid meet"
                              >
                              <path
                                 d="M12 21C17.25 17.4503 22.5 13.5 22.5 8.25C22.5 6.906 21.9878 5.56275 20.9625 4.5375C19.9373 3.513 18.594 3 17.25 3C15.9067 3 14.5628 3.513 13.5382 4.5375L12 6.07575L10.4625 4.5375C9.43725 3.513 8.094 3 6.75 3C5.40675 3 4.06275 3.513 3.03825 4.5375C2.013 5.56275 1.5 6.906 1.5 8.25C1.5 13.5 6.75 17.4503 12 21Z"
                                 fill="black"
                                 fill-opacity="0.5"
                                 stroke="white"
                                 stroke-width="2"
                                 ></path>
                           </svg>
                           <span class="sr-only">Buy</span>
                        </button>
                     </div>
                     <!--cart button div div-->
                     <div class="flex justify-start items-start absolute left-[234px] bottom-4 gap-1">
                        <button type="button" class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500" data-index="{{product.id}}">
                           <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd"d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z" clip-rule="evenodd"></path>
                           </svg>
                           <span class="sr-only">Buy</span>
                        </button>
                     </div>
                  </div>
                  <!--div for item desciptions-->
                  <div class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 relative">
                     <h5 class="mb-0"><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a></h5>
					 <h5 class="mb-0"><a href="/product/{{product.slug}}/{{product.id}}">{{product.location}}</a></h5>
                     <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2">
                        <p class="flex-grow-0 flex-shrink-0 text-sm font-bold text-left text-black">
                           $ <span class="product-price-{{product.id}}">{{product.productattribute_set.first.price}}</span>
                        </p>
                     </div>
                  </div>
                  <!--div for footer with button to add to cart and button to add to wishlist
                  <div class="py-3 px-6 bg-gray-200 border-t-1 border-gray-300">
                     <input type="hidden" value="1" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded product-qty-{{product.id}}" id="productQty" />
                     <input type="hidden" class="product-image-{{product.id}}" value="{{product.productattribute_set.first.image}}" />
                     <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
                     <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
                     <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs  bg-blue-600 text-white hover:bg-blue-600 add-to-cart" data-index="{{product.id}}"><i class="fa fa-shopping-cart"></i></button>
                     <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs  bg-red-600 text-white hover:bg-red-700"><i class="fa fa-heart"></i></button>
                     <span class="float-right">
                     4.5/5
                     <i class="fa fa-star text-yellow-500"></i>
                     </span>
                  </div>
				-->
               </div>
            </div>
            {% endfor %}
         </div>
         <p class="my-4 text-center"><button id="loadMore" data-total="{{total_data}}" data-limit="3" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline bg-gray-900 text-white hover:bg-gray-900 py-1 px-2 leading-tight text-xs ">Load More <i class="fa fa-sync load-more-icon"></i></button></p>
      </div>
   </div>
</main>
{% endblock %}